:root {
  --q-primary: #1B7A53;
  --q-secondary: #07A57E;
  --q-label-color: #818181;
  --q-gray-background: #EAEAEA;
  --q-text-black: #222831;
  --q-text-black2: #444444;
  --q-negative: #fa384c;
  --q-link-bg: #07A57E;
  --q-link-bg-opacity: #07a57d78;
  --q-share-link: #0596e4c0;
  --q-edit-color: #72C96B;
  --q-update: #e3ad18;
}
